<html>
    <head>
        <link rel="stylesheet" href="./static/style.css" />
        <title>AI Farmer Assitance Model</title>
    </head>

    <body>
        <h1 id="heading">AI Farmer Assitance Model</h1>
        <!---  project details-->
            <p>It is an AI Farmer Assitance Model. 
                This model is used to determine the
                type of crop which is suitable to grow on the basis of given parameters 
                by the user. 
            </p>
        
        <a href="/project">
            <button id="home_button">Go to Project</button>
        </a> 
        <br><br>
        <hr>

        <h2>Vanshika Jangid</h2>
        <!---  photo and self discription  -->
            <p>Hello eveyone! My name is Vanshika Jangid .I am currently pursuing Btech in Computer Science and Engineering from Governement
                Women Engineering college, Ajmer, Rajasthan. I have made various projects to improve my technical skills.This project showcases my 
            skills in the field of Data Science and Machine Learing.</p>
        <!--<img src ="./static/image/my_img.jpg" alt=" " width="200">-->
        <br>
        <hr>
    
        
        <!---  project details-->
        <h2>Project Details</h2>
            <p>In this model</p>
        
        
        <footer id="home_footer"> 
        <hr>   
        <h3 style="text-align:center">Thanks for visiting our project.</h3>
        <h3 style="text-align:center">vnshkjngd@gmail.com</h3>
        </footer> 
    </body>
</html>
